/* Typografi */
.underline{
    text-decoration: underline !important;
}

.token.number{
    color:rgb(221, 61, 61) !important;
}
.token.keyword{
    color: rgb(55, 64, 194) !important;
}
.token.boolean{
    color: rgb(246, 138, 158) !important;
}

/* Header */
.api-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px gray;
    padding-bottom: 1rem !important;
}
.api-content  > div:first-of-type {
    padding: 0rem;
}

.api-info h1{
    font-size: xx-large;
    margin: 0 !important;
}
.api-info p a{
    font-size: large;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #4195d5;
    color: white;
    text-align: end;
}

.api-info > div:not(:first-of-type){
 display: none;
}

/* content */
div[data-section-id="section/Introduction"]{
    padding-top: 0px;
}

/* Sidenav Searchbar */
div[role=search]>div {
    background-color: #fff;
    border: 1px solid #dee3ee;
    border-radius: 8px;
    left: 0;
    padding: 8px 0;
    position: absolute;
    top: calc(100% + 8px);
    width: 100%;
    z-index: 1;
}
div[role="search"] {
    align-items: center;
    background-color: #FFF;
    background-position: 12px center;
    background-repeat: no-repeat;
    border: 1px solid #DEE3EE;
    border-radius: 8px;
    display: flex;
    height: 35px;
    margin-bottom: 12px;
    margin-left: 16px;
    padding: 8px 12px 8px 36px;
    position: relative;
    width: calc(100% - 32px);
}

/* SideBar */
div .menu-content{
    border-right: #dfeef5 solid 2px !important;
}

.scrollbar-container {
    margin-left: 0px !important;
    border-right: 2px;
}

div[role="search"] > input {
    border: none;
    margin-left: -19px;
}

.danger{
    color: red;
    font-weight: 600;
}

.blue{
    color:rgb(74, 74, 231);
    font-weight: 600;
}

.gray{
    color:rgb(158, 158, 158);
    font-weight: 600;
}


/* Navbar */


/* Bottom redocly */
.scrollbar-container>div>a{
    display: none;
}